.filter-search {
}
.filter-search__item {
  height: 100%;
}

.filter-search__input {
  height: 100%;
}

.input {
  background-color: var(--main-white-color);
  border-radius: 0.6rem;
  border: 0.3rem solid var(--main-grey-color);
  outline: none;
  padding: 1rem 1.5rem;
}

.input,
.input::placeholder {
  color: var(--main-dark-blue-color);
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
