.button {
  background-color: var(--main-dark-blue-color);
  box-shadow: 0.1rem 0.1rem 0.1rem var(--main-black-color);
  border: none;
  border-radius: 0.5rem;
  color: var(--main-white-color);
  cursor: pointer;
  min-width: 2.5rem;
  min-height: 2.5rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  transition: 0.3s;
}

.button_active,
.button:hover {
  background-color: var(--main-dk-grey-color);
  box-shadow: 0.1rem 0.1rem 0.1rem var(--main-dk-grey-color);
}

button:hover {
  color: var(--main-dark-blue-color);
}

.button_active {
  color: var(--main-purple-color) !important;
}
