.button {
    background-color: var(--main-dark-blue-color);
    box-shadow: .1rem .1rem .1rem var(--main-black-color);
    border: none;
    border-radius: .5rem;
    color: var(--main-white-color);
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: .5rem .75rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    outline: none;
    transition: .3s;
}

.button_active,
.button:hover {
    background-color: var(--main-dk-grey-color);
    box-shadow: .1rem .1rem .1rem var(--main-dk-grey-color);
}

button:hover {
    color: var(--main-dark-blue-color);
}

.button_active {
    color: var(--main-purple-color) !important;
}