.sort {
    align-items: center;
    display: flex;
}

.sort__item {
    align-items: center;
    display: grid;
    justify-content: center;
    transition: .3s;
}

.sort__submenu {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.sort__item_noactive {
    opacity: 0;
    transform: translateX(-10rem);
    z-index: -10;
}

.sort__item_active {
    background-color: var(--main-grey-color);
    opacity: 1;
    transform: translateX(0rem);
    z-index: 0;
}

.sort__nested {
    display: flex;
    justify-self: center;
}